    <footer id="footer">
        <div>
            <p class="footabout">Developed by the <a href="https://intranet.birmingham.ac.uk/it/teams/infrastructure/research/bear/rsg/research-software-group.aspx">Research Software Group</a> at <a href="http://www.bham.ac.uk">The University of Birmingham</a></p>
            <p class="footlinks">
                <a href="https://www.birmingham.ac.uk/privacy/index.aspx">Privacy</a> |
                <a href="https://www.birmingham.ac.uk/legal/index.aspx">Legal</a> |
                <a href="https://www.birmingham.ac.uk/university/governance/policies-regs/information/index.aspx">Freedom of Information</a> |
                <a href="/bear-software-resources/cookies/index.html">Cookies</a> |
                <a href="/bear-software-resources/accessibility/index.html">Accessibility</a>
            </p>
        </div>
    </footer>