    <header id="header">
        <div id="uob-logo">
            <a href="https://www.birmingham.ac.uk/index.aspx"><img src="https://bear-apps.bham.ac.uk/static/core/images/uob-logo.svg" alt="University of Birmingham Logo"></a>
        </div>
        <div id="title">
            <h1><a href="/bear-software-resources/">{{ page.title | default: site.title | default: site.github.repository_name }}</a></h1>
        </div>
        <div id="bear-logo">
            <a href="https://intranet.birmingham.ac.uk/it/teams/infrastructure/research/bear/index.aspx"><img src="https://bear-apps.bham.ac.uk/static/core/images/bear-logo.svg" alt="Birmingham Environment for Academic Research (BEAR) Logo"></a>
        </div>
    </header>
