{% capture logo_path %}{{ site.logo }}{% endcapture %}
<div id="header" class="masthead">
    <div class="masthead__inner-wrap">
        <div class="masthead__menu">
            <div>
                {% unless site.uob_logo_url == empty %}
                <div id="uob-logo">
                    <a class="site-logo" href="{{ site.uob_logo_url }}"><img src="{{ site.uob_logo_path }}" alt="{{ uob_logo_alt }}"></a>
                </div>
                {% endunless %}
                <div id="title">
                    {% unless site.site_title_url == empty %}
                    <h1><a href="{{ site.site_title_url }}">{{ site.site_title }}</a></h1>
                    {% else%}
                    <h1>{{ site.site_title }}</h1>
                    {% endif %}
                </div>
                {% unless site.bear_logo_url == empty %}
                <div id="bear-logo">
                    <a href="{{ site.bear_logo_url }}"><img src="{{ site.bear_logo_path }}" alt="{{ bear_logo_alt }}">
                </div>
                {% endunless %}
            </div>

            <nav id="site-nav" class="greedy-nav">
                <div class="masthead__menu">>
                    <ul class="visible-links">
                        {% for link in site.data.navigation.main %}
                            {% if link.href contains '://' %}
                                {% assign url = link.href %}
                            {% else %}
                                {% assign url = link.href | relative_url %}
                            {% endif %}
                            <li class="masthead__menu-item">
                                {% if site.data.navigation.main.subcategories != null %}
                                    <a href="{{ url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }} ▼</a>
                                    <ul>
                                        {% for subcategory in site.data.navigation..main.subcategories %}
                                        {% if subcategory.subhref contains '://' %}
                                        {% assign url = subcategory.subhref %}
                                        {% else %}
                                        {% assign url = subcategory.subhref | relative_url %}
                                        {% endif %}
                                        <li class="masthead__submenu-item">
                                            <a href="{{ url }}" {% if subcategory.description %}title="{{ subcategory.description }}"{% endif %}>{{ subcategory.subtitle }}</a>
                                        </li>
                                    </ul>
                                {% else %}
                                    <a href="{{ url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if site.search == true %}
                    <button class="search__toggle" type="button">
                        <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
                        <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
                            <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
                        </svg>
                    </button>
                    {% endif %}
                    <button class="greedy-nav__toggle hidden" type="button">
                        <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
                        <div class="navicon"></div>
                    </button>
                    <ul class="hidden-links hidden"></ul>
                </div>
            </nav>
        </div>
    </div>
</header>
