{% capture logo_path %}{{ site.logo }}{% endcapture %}
<div id="header" class="masthead">
    <div class="masthead__inner-wrap">
        <div class="masthead__menu">
            <div>
                {% unless site.uob_logo_url == empty %}
                <div id="uob-logo">
                    <a class="site-logo" href="{{ site.uob_logo_url }}"><img src="{{ site.uob_logo_path }}" alt="{{ uob_logo_alt }}"></a>
                </div>
                {% endunless %}
                <div id="title">
                    {% unless site.site_title_url == empty %}
                    <h1><a href="{{ site.site_title_url }}">{{ site.site_title }}</a></h1>
                    {% else %}
                    <h1>{{ site.site_title }}</h1>
                    {% endif %}
                </div>
                {% unless site.bear_logo_url == empty %}
                <div id="bear-logo">
                    <a href="{{ site.bear_logo_url }}"><img src="{{ site.bear_logo_path }}" alt="{{ bear_logo_alt }}">
                </div>
                {% endunless %}
            </div>


        </div>
    </div>
</header>
