---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";

.greedy-nav .hamburger {

    position: relative;
    width: 32px;
    height: 4px;
    background: #fff;
    margin: auto;
    top: 116px;
    right: 10px;

}

body {
  min-width: 320px;
  padding: 30px;
  font-family: Helvetica, sans-serif;
}

h1 {
  color: #fff;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 24px;
}

p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;
}

p.large {
  font-size: 1.2rem;
  margin-top: 2rem;
}

a {
  color: #fff;
}

#masthead__logos {
    width: 100%;
    display: block;
    padding-bottom: 10px;
}