---
---

@import "{{ site.theme }}";

#footer {
    background-color: #10590c;
    width: 100%;
    padding: 0.5em 0;
    word-spacing: .08em;
    text-align: center;
}

#footer.shortpage {
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
