---
---

@import "{{ site.theme }}";

.dd {
    display: none;
}

#container {
    min-height: 100%;
    position: absolute;
    width: 100%;
}

#header {
    overflow: visible    ;
    background-color: #15571c;
    top: 0;
    left: 0;
}

h1 a, h1 a:hover {
    color: white;
}

#title {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    float: left;
    position: relative;
    top: 16px;
}

#title h1 {
    font-size: 2.3em;
    top: 13px;
    position: relative;
}

#title h1 a, #title h1 a:hover {
    text-decoration: none;
}
#uob-logo, #bear-logo {
    display: block;
    width: 25%;
    float: left;
    padding: 1em 1em 1.5em 1em;
}

#bear-logo, #bear-logo img {
    float: right;
}

#uob-logo img, 
#bear-logo img {
    height: 3.2em;
    max-width: 90%;
}
nav {
    color: #fff;
    background-color: blue;
}
#footer {
    color: #fff;
    background-color: #15571c;
    width: 100%;
    padding: 0.5em 0;
    word-spacing: .08em;
    text-align: center;
    padding: 1em;
}

#footer.shortpage {
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

#footer a, #footer a:hover, #footer a:visited {
    color: #fff;
}

table {
    margin: 0.5em;
}

#content {
    width: 100%;
    position: relative;
    top: 20px;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #5a5a5a;
    display: block;
}
#content h2, #content h3, #content h4, #content h5, #content p {
    line-height: 1.8;
}

#uob-logo a img, #bear-logo a img {
    height: 3.2em;
    max-width: 100%;
}

.links_menu {
    display: block;
}

*,html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,label,fieldset,input,p,blockquote,th,td {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.masthead__logos {
    background: #15571c;
    height: 100px;
    padding: 1em
}

.masthead__menu {
    display: block;
    z-index: 10000;
    background: #a6bba3;
    float: right;
    position: relative;
    top: -4px;
    width: 100%;
}

article,aside,figure,footer,header,hgroup,nav,section {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

a:hover {
    color: #BA0707;
}

body {
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

nav {
    display: block;
    background: #a6bba3;
    float: right
}

.menu {
    display: block;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    font-weight: 600;
    text-decoration: none;
    padding: 12px 15px;
    display: block;
    color: #fff;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,.menu li:hover>a {
    color: #fff;
    background: #81ad7f;
}

.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 170px;
    position: absolute;
    left: 0px;
    background: #fff;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;
}

.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color: #797979;
    background: #e0fcdc;
}

.menu ul li a:hover,.menu ul li:hover>a {
    background: #81ad7f;
    color: #fff;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.menu ul ul {
    left: 169px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px,20px);
    transition: all 0.2s ease-out;
}

.menu ul ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 6px;
    margin-top: -6px;
}

.menu li>ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.responsive-menu {
    display: none;
    width: 100%;
    padding: 20px 15px;
    background: #a6bba3;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.responsive-menu:hover {
    background: #a6bba3;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 979px) {
    .mainWrap {
        width: 768px;
    }

    .menu ul {
        top: 37px;
    }

    .menu li a {
        font-size: 12px;
    }

    a.homer {
        background: #a6bba3;
    }
    #title h1 {
        top: 12px;
        position: relative;
    }
}

@media (max-width: 767px) {
    .mainWrap {
        width: auto;
        padding: 50px 20px;
    }

    .menu {
        display: none;
    }

    .responsive-menu {
        display: block;
    }
    nav { width: 100%; }
    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        background: #fff;
        color: #797979;
    }

    .menu li a:hover,.menu li:hover>a {
        background: #81ad7f;
        color: #fff;
    }

    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover>ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li>ul ul:hover {
        transform: initial;
    }

    #title h1 {
        top: 20px;
        position: relative;
    }
}
@media (max-width: 689px) {
     #title h1, #title h1 a {
         line-height: 1 !important;
         top: 3;
         position: relative;
         font-size: 1.3em;
     }
}
@media (max-width: 551px) {
     #title h1 { top: 26px; }
     #title h1, #title h1 a {
         line-height: 1 !important;
         top: 3;
         position: relative;
         font-size: 1.3em;
     }
}
@media (max-width: 480px) {
    #title h1 {
        font-size: 1.1em;
        top: 10px;
    }
    #content { padding: 2rem; }

    line-height: 1;
}

@media (max-width: 320px) {
    #title {
        width: 100%;
    }
    #title h1 {
        font-size: 1.3em;
    }
    #bear-logo, #uob-logo {
        display: none;
    }
}

// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #167F92;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {

  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after {display: none;}
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th, td {
      text-align: left;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

th {
  background-color: #a6bba3;
  color: #fff;
  padding: 0.5em !important;
}

td {
  text-align: center;
  padding: 0.5em !important;
}

ul {
    position: relative;
    left: 40px;
    font-size: 0.95rem;
    padding: 0.5rem 0;
}
ul.menu {
    padding: 0;
    left: 0;
}

#title{
    position: relative;
    top: 0;
}