<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <nav>
      {% include nav.html %}
    </nav>
    <div id="container">
    <a id="skip-to-content" href="#content" class="dd">Skip to the content.</a>
    {% include header.html %}
    <main id="content" class="main-content" role="main">
      {{ content }}      
    </main>
    {% include footer.html %}
    </div>
    <script type="text/javascript">
    $( document ).ready(function() {
        var min = $( window ).height() - ($("#header").height() + $("#footer").height());
        if($("#content").height() < min) {
            $("#footer").addClass("shortpage");
        }
      $("table").addClass("table-striped");
    });
    </script>
  </body>
</html>
