<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
  {% include head.html %}
  <body>    
    <div id="container">
    <a id="skip-to-content" href="#content" class="dd">Skip to the content.</a>
    {% include nav.html %}
    <main id="content" role="main">
      {{ content }}      
    </main>
    {% include footer.html %}
    </div>
    <script type="text/javascript">
    $( document ).ready(function() {
      var w = $(window).width();
      if(w > 767) {

          var min = $( window ).height() - ($("#header").height() + $("#footer").height());
          if($("#content").height() < min) {
              $("#footer").addClass("shortpage");
          }
      }

      $("table").addClass("table-striped");

      var touch = $('#resp-menu');
      var menu = $('.menu');

      $(touch).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle();
      });

      $(window).resize(function(){
          var w = $(window).width();
          if(w > 767 && menu.is(':hidden')) {
              menu.removeAttr('style');
          }
     });

    });
    </script>
  </body>
</html>
