<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header id="header">
        <div id="uob-logo">
            <a href="https://www.birmingham.ac.uk/index.aspx"><img src="https://bear-apps.bham.ac.uk/static/core/images/uob-logo.svg" alt="University of Birmingham Logo"></a>
        </div>
        <div id="title">
            <h1><a href="/">{{ page.title | default: site.title | default: site.github.repository_name }}</a></h1>
        </div>
        <div id="bear-logo">
            <a href="https://intranet.birmingham.ac.uk/it/teams/infrastructure/research/bear/index.aspx"><img src="https://bear-apps.bham.ac.uk/static/core/images/uob-logo.svg" alt="Birmingham Environment for Academic Research (BEAR) Logo"></a>
        </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}      
    </main>
    <footer id="footer">
          <p>Developed by the <a href="https://intranet.birmingham.ac.uk/it/teams/infrastructure/research/bear/rsg/research-software-group.aspx">Research Software Group</a> at <a href="http://www.bham.ac.uk">The University of Birmingham</a></p>
          <p>
              <a href="https://www.birmingham.ac.uk/privacy/index.aspx">Privacy</a> |
              <a href="https://www.birmingham.ac.uk/legal/index.aspx">Legal</a> |
              <a href="https://www.birmingham.ac.uk/university/governance/policies-regs/information/index.aspx">Freedom of Information</a> |
              <a href="/cookies">Cookies</a> |
              <a href="/accessibility">Accessibility</a>
          </p>
      </footer>
      <script type="text/javascript">
      var min = $( window ).height() - ($("#header").height() + $("#footer").height());
      if(($("#main").height() < min) && ($("#side").height() < min)){
          $("#footer").addClass("shortpage");
      }
      </script>
  </body>
</html>
